# do not include surrounding quotes, use \ to escape spaces

# this will always be set to settings, which correlates with the settings.py file in /app/
DJANGO_SETTINGS_MODULE=settings

# environment configuration for Django to use, one of : production, development, local
DJANGO_CONFIGURATION=local

# use minimum 64 character random string, used as the Django project secret key value
SECRET_KEY=

# CTA bustracker api key
CTA_BUSTRACKER_API_KEY=
