[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ptvsd = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-vcr = "*"
pytest-django = "*"
pytest-pythonpath = "*"
django-extensions = "*"

[packages]
django = "*"
django-configurations = "*"
django-cors-headers = "*"
django-rest-framework = "*"
django-redis = "*"
graphene-django = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.9"
