interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getservicebulletins?format=json&key=CTA-API-KEY&rt=74
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"sb\": [\n\t\t\t{\n\t\t\t\t\
        \"nm\": \"Reroute at Jackson/Lavergne\",\n\t\t\t\t\"sbj\": \"Reroute at Jackson/Lavergne\"\
        ,\n\t\t\t\t\"dtl\": \"#126 Jackson buses are temporarily rerouted in both\
        \ directions via Jackson, Laramie, Madison, Cicero, and Jackson, due to police\
        \ activity.\\n\\nAllow extra travel time.\",\n\t\t\t\t\"brf\": \"\",\n\t\t\
        \t\t\"prty\": \"Low\",\n\t\t\t\t\"srvc\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"rt\"\
        : \"\",\n\t\t\t\t\t\t\"rtdir\": \"\",\n\t\t\t\t\t\t\"stpid\": \"\",\n\t\t\t\
        \t\t\t\"stpnm\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"rt\": \"126\"\
        ,\n\t\t\t\t\t\t\"rtdir\": \"\",\n\t\t\t\t\t\t\"stpid\": \"\",\n\t\t\t\t\t\t\
        \"stpnm\": \"\"\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"nm\"\
        : \"#74 Bus Stop Elimination\",\n\t\t\t\t\"sbj\": \"Bus Stop Elimination\"\
        ,\n\t\t\t\t\"dtl\": \"Effective 7am, Mon, Aug 29\\n\\nThe westbound bus stop\
        \ on the northwest corner of Fullerton/Elston will be eliminated.\\n\\nThe\
        \ bus stop is being relocated due to construction, and reco[...]
