interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getdirections?format=json&key=CTA-API-KEY&rt=74
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"directions\": [\n\t\t\t{\n\
        \t\t\t\t\"dir\": \"Eastbound\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"dir\": \"Westbound\"\
        \n\t\t\t}\n\t\t]\n\t}\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getdirections?format=json&key=CTA-API-KEY
  response:
    body: {string: "\r\n{\"bustime-response\": {\"error\": [ {\r\n    \"msg\": \"\
        rt parameter missing\"\r\n} ] }}\r\n\r\n\r\n\t"}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
