interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getpatterns?format=json&key=CTA-API-KEY&rt=74
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"ptr\": [\n\t\t\t{\n\t\t\t\t\
        \"pid\": 8420,\n\t\t\t\t\"ln\": 42134.0,\n\t\t\t\t\"rtdir\": \"Westbound\"\
        ,\n\t\t\t\t\"pt\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"seq\": 1,\n\t\t\t\t\t\t\"\
        lat\": 41.9254370000002,\n\t\t\t\t\t\t\"lon\": -87.64973499999934,\n\t\t\t\
        \t\t\t\"typ\": \"S\",\n\t\t\t\t\t\t\"stpid\": \"1224\",\n\t\t\t\t\t\t\"stpnm\"\
        : \"Fullerton & Halsted\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\t\t\
        \t\t\t{\n\t\t\t\t\t\t\"seq\": 2,\n\t\t\t\t\t\t\"lat\": 41.925405,\n\t\t\t\t\
        \t\t\"lon\": -87.649942,\n\t\t\t\t\t\t\"typ\": \"W\",\n\t\t\t\t\t\t\"pdist\"\
        : 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"seq\": 3,\n\t\t\t\t\t\t\"\
        lat\": 41.925405,\n\t\t\t\t\t\t\"lon\": -87.650165,\n\t\t\t\t\t\t\"typ\":\
        \ \"W\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\
        \t\"seq\": 4,\n\t\t\t\t\t\t\"lat\": 41.925372,\n\t\t\t\t\t\t\"lon\": -87.65072,\n\
        \t\t\t\t\t\t\"typ\": \"W\",\n\t\t\t\t\t\t[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getpatterns?format=json&key=CTA-API-KEY&pid=8422
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"ptr\": [\n\t\t\t{\n\t\t\t\t\
        \"pid\": 8422,\n\t\t\t\t\"ln\": 46901.0,\n\t\t\t\t\"rtdir\": \"Eastbound\"\
        ,\n\t\t\t\t\"pt\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"seq\": 1,\n\t\t\t\t\t\t\"\
        lat\": 41.923830000000216,\n\t\t\t\t\t\t\"lon\": -87.8015769999986,\n\t\t\t\
        \t\t\t\"typ\": \"S\",\n\t\t\t\t\t\t\"stpid\": \"668\",\n\t\t\t\t\t\t\"stpnm\"\
        : \"Grand & Nordica Terminal\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\
        \t\t\t\t\t{\n\t\t\t\t\t\t\"seq\": 2,\n\t\t\t\t\t\t\"lat\": 41.923663,\n\t\t\
        \t\t\t\t\"lon\": -87.801608,\n\t\t\t\t\t\t\"typ\": \"W\",\n\t\t\t\t\t\t\"\
        pdist\": 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"seq\": 3,\n\t\t\t\t\
        \t\t\"lat\": 41.923568,\n\t\t\t\t\t\t\"lon\": -87.80148,\n\t\t\t\t\t\t\"typ\"\
        : \"W\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\
        \t\"seq\": 4,\n\t\t\t\t\t\t\"lat\": 41.92356,\n\t\t\t\t\t\t\"lon\": -87.801083,\n\
        \t\t\t\t\t\t\"typ\": \"W\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\t\t\
        \t\t\t{\n\t\t\t\t\t\t\"seq\": 5,\n\t\t\t\t\t\t\"lat\": 41.923519999999954,\n\
        \t\t\t\t\t\t\"lon\": -87.80094000000146,\n\t\t\t\t\t\t\"typ\": \"S\",\n\t\t\
        \t\t\t\t\"stpid\": \"669\",\n\t\t\t\t\t\t\"stpnm\": \"Grand & Sayre\",\n\t\
        \t\t\t\t\t\"pdist\": 251.0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"seq\"\
        : 6,\n\t\t\t\t\t\t\"lat\": 41.923568,\n\t\t\t\t\t\t\"lon\": -87.799335,\n\t\
        \t\t\t\t\t\"typ\": \"W\",\n\t\t\t\t\t\t\"pdist\": 0.0\n\t\t\t\t\t},\n\t\t\t\
        \t\t{\n\t\t\t\t\t\t\"seq\": 7,\n\t\t\t\t\t\t\"lat\": 41.923568000000145,\n\
        \t\t\t\t\t\t\"lon\": -87.79922300000064,\n\t\t\t\t\t\t\"typ\": \"S\",\n\t\t\
        \t\t\t\t\"stpid\": \"670\",\n\t\t\t\t\t\t\"s[...]
