interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getvehicles?format=json&key=CTA-API-KEY&rt=74
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"vehicle\": [\n\t\t\t{\n\t\t\
        \t\t\"vid\": \"8146\",\n\t\t\t\t\"tmstmp\": \"20190514 23:09\",\n\t\t\t\t\"\
        lat\": \"41.925437927246094\",\n\t\t\t\t\"lon\": \"-87.65287017822266\",\n\
        \t\t\t\t\"hdg\": \"271\",\n\t\t\t\t\"pid\": 8420,\n\t\t\t\t\"rt\": \"74\"\
        ,\n\t\t\t\t\"des\": \"Grand/Nordica\",\n\t\t\t\t\"pdist\": 906,\n\t\t\t\t\"\
        dly\": false,\n\t\t\t\t\"tatripid\": \"135\",\n\t\t\t\t\"tablockid\": \"74\
        \ -858\",\n\t\t\t\t\"zone\": \"\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"vid\": \"\
        8140\",\n\t\t\t\t\"tmstmp\": \"20190514 23:09\",\n\t\t\t\t\"lat\": \"41.92485559903658\"\
        ,\n\t\t\t\t\"lon\": \"-87.69886232033754\",\n\t\t\t\t\"hdg\": \"267\",\n\t\
        \t\t\t\"pid\": 8420,\n\t\t\t\t\"rt\": \"74\",\n\t\t\t\t\"des\": \"Grand/Nordica\"\
        ,\n\t\t\t\t\"pdist\": 13497,\n\t\t\t\t\"dly\": false,\n\t\t\t\t\"tatripid\"\
        : \"134\",\n\t\t\t\t\"tablockid\": \"74 -810\",\n\t\t\t\t\"zone\": \"\"\n\t\
        \t\t},\n\t\t\t{\n\t\t\t\t\"vid\": \"8129\",\n\t\t\t\t\"tmstmp\": \"20190514\
        \ 23:10\",\n\t\t\t\t\"lat\": \"41.924259185791016\",\n\t\t\t\t\"lon\": \"\
        -87.75299835205078\",\n\t\t\t\t\"hdg\": \"269\",\n\t\t\t\t\"pid\": 8420,\n\
        \t\t\t\t\"rt\": \"74\",\n\t\t\t\t\"des\": \"Grand/Nordica\",\n\t\t\t\t\"pdist\"\
        : 28303,\n\t\t\t\t\"dly\": false,\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getvehicles?format=json&key=CTA-API-KEY&tmres=s&vid=8146
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"vehicle\": [\n\t\t\t{\n\t\t\
        \t\t\"vid\": \"8146\",\n\t\t\t\t\"tmstmp\": \"20190514 23:09:49\",\n\t\t\t\
        \t\"lat\": \"41.925437927246094\",\n\t\t\t\t\"lon\": \"-87.65287017822266\"\
        ,\n\t\t\t\t\"hdg\": \"271\",\n\t\t\t\t\"pid\": 8420,\n\t\t\t\t\"rt\": \"74\"\
        ,\n\t\t\t\t\"des\": \"Grand/Nordica\",\n\t\t\t\t\"pdist\": 906,\n\t\t\t\t\"\
        dly\": false,\n\t\t\t\t\"tatripid\": \"135\",\n\t\t\t\t\"tablockid\": \"74\
        \ -858\",\n\t\t\t\t\"zone\": \"\"\n\t\t\t}\n\t\t]\n\t}\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
