interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getstops?dir=Eastbound&format=json&key=CTA-API-KEY&rt=74
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"stops\": [\n\t\t\t{\n\t\t\t\
        \t\"stpid\": \"1286\",\n\t\t\t\t\"stpnm\": \"6450 W Fullerton\",\n\t\t\t\t\
        \"lat\": 41.92364000000054,\n\t\t\t\t\"lon\": -87.78693700000007\n\t\t\t},\n\
        \t\t\t{\n\t\t\t\t\"stpid\": \"1326\",\n\t\t\t\t\"stpnm\": \"Fullerton & Albany\"\
        ,\n\t\t\t\t\"lat\": 41.92468200000001,\n\t\t\t\t\"lon\": -87.70484200000035\n\
        \t\t\t},\n\t\t\t{\n\t\t\t\t\"stpid\": \"17254\",\n\t\t\t\t\"stpnm\": \"Fullerton\
        \ & Ashland\",\n\t\t\t\t\"lat\": 41.925077999998834,\n\t\t\t\t\"lon\": -87.66777500000056\n\
        \t\t\t},\n\t\t\t{\n\t\t\t\t\"stpid\": \"1294\",\n\t\t\t\t\"stpnm\": \"Fullerton\
        \ [...]
