interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getroutes?format=json&key=CTA-API-KEY
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"routes\": [\n\t\t\t{\n\t\t\
        \t\t\"rt\": \"1\",\n\t\t\t\t\"rtnm\": \"Bronzeville/Union Station\",\n\t\t\
        \t\t\"rtclr\": \"#336633\",\n\t\t\t\t\"rtdd\": \"1\"\n\t\t\t},\n\t\t\t{\n\t\
        \t\t\t\"rt\": \"2\",\n\t\t\t\t\"rtnm\": \"Hyde Park Express\",\n\t\t\t\t\"\
        rtclr\": \"#993366\",\n\t\t\t\t\"rtdd\": \"2\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\
        \"rt\": \"3\",\n\t\t\t\t\"rtnm\": \"King Drive\",\n\t\t\t\t\"rtclr\": \"#009900\"\
        ,\n\t\t\t\t\"rtdd\": \"3\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"rt\": \"4\",\n\t\t\
        \t\t\"rtnm\": \"Cottage Grove\",\n\t\t\t\t\"rtclr\": \"#cc3300\",\n\t\t\t\t\
        \"rtdd\": \"4\"\n\t\t\t},\n\t\t[...]
