interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getpredictions?format=json&key=CTA-API-KEY&rt=74&stpid=6597
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"prd\": [\n\t\t\t{\n\t\t\t\t\
        \"tmstmp\": \"20190514 23:10\",\n\t\t\t\t\"typ\": \"A\",\n\t\t\t\t\"stpnm\"\
        : \"Fullerton & Sheffield (Red/Brown/Purple Line)\",\n\t\t\t\t\"stpid\": \"\
        6597\",\n\t\t\t\t\"vid\": \"8164\",\n\t\t\t\t\"dstp\": 4478,\n\t\t\t\t\"rt\"\
        : \"74\",\n\t\t\t\t\"rtdd\": \"74\",\n\t\t\t\t\"rtdir\": \"Eastbound\",\n\t\
        \t\t\t\"des\": \"Halsted\",\n\t\t\t\t\"prdtm\": \"20190514 23:15\",\n\t\t\t\
        \t\"tablockid\": \"74 -852\",\n\t\t\t\t\"tatripid\": \"141\",\n\t\t\t\t\"\
        dly\": false,\n\t\t\t\t\"prdctdn\": \"4\",\n\t\t\t\t\"zone\": \"\"\n\t\t\t\
        },\n\t\t\t{\n\t\t\t\t\"tmstmp\": \"20190514 23:09\",\n\t\t\t\t\"typ\": \"\
        A\",\n\t\t\t\t\"stpnm\": \"Fullerton & Sheffield (Red/Brown/Purple Line)\"\
        ,\n\t\t\t\t\"stpid\": \"6597\",\n\t\t\t\t\"vid\": \"8150\",\n\t\t\t\t\"dstp\"\
        : 26840,\n\t\t\t\t\"rt\": \"74\",\n\t\t\t\t\"rtdd\": \"74\",\n\t\t\t\t\"rtdir\"\
        : \"Eastbound\",\n\t\t\t\t\"des\": \"Halsted\",\n\t\t\t\t\"prdtm\": \"20190514\
        \ 23:37\",\n\t\t\t\t\"tablockid\": \"74 -853\",\n\t\t\t\t\"tatripid\": \"\
        140\",\n\t\t\t\t\"dly\": false,\n\t\t\t\t\"prdctdn\": \"26\",\n\t\t\t\t\"\
        zone\": \"\"\n\t\t\t}\n\t\t]\n\t}\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://ctabustracker.com/bustime/api/v2/getpredictions?format=json&key=CTA-API-KEY&top=2&vid=8164
  response:
    body: {string: "{\n\t\"bustime-response\": {\n\t\t\"prd\": [\n\t\t\t{\n\t\t\t\t\
        \"tmstmp\": \"20190514 23:10\",\n\t\t\t\t\"typ\": \"A\",\n\t\t\t\t\"stpnm\"\
        : \"Fullerton & Ashland\",\n\t\t\t\t\"stpid\": \"17254\",\n\t\t\t\t\"vid\"\
        : \"8164\",\n\t\t\t\t\"dstp\": 479,\n\t\t\t\t\"rt\": \"74\",\n\t[...]
